@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
    .paused {
        animation-play-state: paused;
    }
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
.card-start{
    height: 3380px;
    justify-content: space-evenly;
}

.all-cards{
    background-color: #f8fafc;
}
.section{
    /* box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25); */
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25),0 -25px 50px -40px rgb(0 0 0 / 0.25);
    padding: 32px 64px 16px;
    justify-content: space-around;
    max-width: 1296px;
    height: 610px;
    overflow-y: clip;
    overflow-x:hidden;
} 
/* .card{
    height: 10rem;
    width: 10rem;
} */


.nav{
    transition: background-color 0.7s ease-in-out;

}

.blur{
    position: absolute;
    bottom: 0px;
    z-index: 1;
    width: 450px;
    height: 130px;
}
.blur-1{
    left: -15px;
    background: linear-gradient(to right, white,white, transparent);
}
.blur-2{
    right: -15px;
    background: linear-gradient(to left, white,white, transparent);
    width: 300px;
}

.card-nav-not-op{
    opacity: 0%;
    transition: opacity 0.2s ease-in-out,transform 0.2s ease-in-out;
    transform: translateY(0px);
    /* animation: bounce 2s ease-in-out; */
}
.card-nav-op{
    opacity: 100%;
    transform: translateY(20px);
}
.aside-section{
    scale: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    overflow-x: hidden;
    transform-origin: right;
}
.animation{
    animation: bounce 0.3s ;
}
@keyframes bounce {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-40px);
    }
    75%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(0px);
    }
}
.options{
    display: flex;
    padding: 15px 20px 8px 24px;
    gap: 15px;
    width: 100%;
}

.second{
    padding: 8px 20px 8px 22px;
    opacity: 50%;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
}
.options-blank{
    padding: 8px 20px 8px 24px;
    height: 24px;
}
.sa{
    padding: 4px 20px 8px 24px;
}
.options-blank-1{
    padding: 8px 20px 8px 24px;
}
.aside-bar-1 svg {
    width: 15px;
    height:15px;
}
.icon-para{
    font-size: 14px;
    font-weight: 500;
}
.new{
    font-size:10px;
    border-radius: 38%;
}
.aside-bar-1{
    background-color: #305eff;
    width:24px ;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.aside-bar{
    background-color: #305eff;
    width:24px ;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.aside-bar svg{
    width: 15px;
    height:15px;
}
.para-2{
    padding: 14px 10px 8px 24px;
    font-weight: 500;   
}
.para-3{
    padding: 8px 10px 8px 30px;
    font-weight: 600;
    font-size: 16px;
}
#arrow{
    display: none;
}
#btn{
    transition: background-color 0.2s ease-in;
}
.closed{
    opacity: 0;
    scale: 0;
}
#close{
    position: absolute;
}
.overlay {
    position: fixed;
    background-color: #5f5f5f83;
    top: 0;
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
    z-index: 48;
}
.overlayactive {
    opacity: 1;
    pointer-events: initial;
}
.section-1{
    padding-bottom: 40px;

}
@media (max-width:1440px) {
    .section{
        max-width: 1109px;
    }
} 
@media (min-width:1200px) {

    .card-start{
        height: 3580px;
        gap: 32px;
    }
    .section-1{
        height: 630px;
    }
    .aside-section{
        display: none;
    }
    nav.scrolled{
        background-color: white;
        opacity: 1;
    }
    .card-starting{
        padding-top: 0;
    }
    
}
@media (max-width : 1500px){
    .blur-1{
        left: -190px;

    }
    .nav-starting{
        margin-left: 0;
    }
}

@media (max-width : 1200px){

    .card-start{
        height: 3580px;
        justify-content: initial;
        gap: 10px;
    }
    .section{
        max-width: 100%;
        padding: 0px;
        height: 645px;
        justify-content: initial;
        box-shadow: none;
        margin-bottom: 10px;
        overflow-x: scroll;
    }
    .nav-starting{
        padding-top: 60px;
    }
    .card-starting{
        padding-top: 20px;
        /* margin-bottom: 40px; */
        margin-left:40px;
    }
    .section-1{
        padding-bottom: 0px;
        height: 740px;
 
    }
    .blur{
        display: none;
    }
    nav.scrolled{
        opacity: 1;
    }
    .nav{
        transition: background-color 0.7s ease-in-out;
        box-shadow: -1px 0px 4px #888888;
    }
    .nav-img{
        width: 135px;
        padding-left: 1px;
    }
    .log-btn{
        border: 0.1px;
    }
}
@media (max-width:800px){
    .section-5{
        max-height:500px;
    }
    .card-start{
        height: 3080px;
        justify-content: space-evenly;
    }
    .section{
        overflow-x: scroll;
        height: initial;
    }
    .card-para{
        width: 190px;
    }
    .card-shadow{
        margin-right: 5px;
    }
    .nav-starting{
        padding-top: 0px;
    }
    .card-starting{
        padding-top: 0px;

        margin-left:7px;
    }
}
@media (min-width:800px){
    .card-shadow{
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
        border-radius: 8px;
        z-index: 50;
        top: 10rem;
        padding: 0;
        margin-right: 15px;

    }
    .card-shadow img{
        border-radius: 8px;
        z-index: 10;
    }
    .card-para{
        width: 260px;
        transform: translateY(-4px);
        z-index: 20;
        background:white;
        line-height: 24px;
    }
    .card-btn{
        width: 140px;
        justify-content: center;
        border-radius: 4px;
        margin-right: 0px;
    }
}
.section-5{
    overflow-x:hidden;
}
@media (max-width : 500px){

    .card-start{
        height: 4280px;
        justify-content: initial;
    }
    .section{
        overflow-x: hidden;
        height: initial;
    }
    #arrow{
        display: initial;
    }
}
@media (max-width : 800px){
    #btn{
        display: none;
    }

}
@media (max-width: 400px) {
    .card-shadow{
        max-width: 180px;
    }
    .card-para{
        max-width: 180px;
    }
    .card-start{
        height: 6900px;
    }
    .card-starting{
        justify-content: center;
    }
    .card-starting-5{
        justify-content: center;
        padding-left: 90px;
    }
    .section{
        overflow-x: hidden;
        min-height: 1630px;
    }
    .section-4{
        min-height: 1250px;
    }
    .section-5{
        align-items: start;
        min-height: 500px;
    }
}
.nav-starting{
    margin-left: 0;
}
.close{
    scale: 0;
    color: grey;
    font-weight: 100;
}
.side-bar{
    display: initial;
}
.remove{
    display: none;
}
.active{
    scale: 1;
    opacity: 1;
}
.bg{
    background-color: white;

}
/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 7px; /* For horizontal scrollbars */
}

/* Track (progress bar background) */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

/* Handle (scroll thumb) */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}